{% load staticfiles %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Tugas 1 PPW Kelas A Kelompok 12">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!--
	<link rel="stylesheet" type="text/css" href="{% static 'css/lab_5.css' %}" />
    -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/tugas1.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>
        {% block title %} Kelompok 12 {% endblock %}
    </title>
</head>

<body>
<header>
    {% include "tugas_1/partials/header.html" %}
</header>
<content class="content">
    {% block content %}
    <!-- content goes here -->
    {% endblock %}
</content>
<footer class="footer">
    <!-- TODO Block Footer dan include footer.html -->
    {% block footer %} {% include "tugas_1/partials/footer.html" %} {% endblock %}
</footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>