{% extends "tugas_1/layout/base.html" %}

{% load staticfiles %}
{% load static %}

{% block content %}
<section id="dashboard">
    <div class="container">
        <div class="row">
            <h1>Statistic</h1>
            <div class="col-md-6 col-md-offset-0">
                {% static "" as baseStaticUrl %}
                <img src="{{ baseStaticUrl }}{{ picture }}" class="img-responsive img-circle center-block"
                     alt="Ini Foto"
                     width=300
                     height=300
                />
            </div>
            <div class="col-md-6">
                <h2>{{ identity }}</h2>
                <div class="col-md-4 col-md-offset-0">
                    <p>Friends : {{ friends }}</p>
                </div>
                <div class="col-md-4 col-md-offset-0">
                    <p>Feed : {{ feed }}</p>
                </div>
                <div class="col-md-6 col-md-offset-0">
                    <div class="row">
                        <hr>
                        <div class="row-md-6">
                            <h3>Latest Status</h3>
                            <a id="name">{{ identity }}</a>
                            <p id="timedate">{{ latest.status_date|date:"l, j F Y, H:i" }}</p>
                            <p id="status">{{ latest.status }}</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}