{% extends "tugas_1/layout/base.html" %} {% load staticfiles %} {% load static %} {% block content %}
<section id="input-status">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3 id="title-status">Update Your Status</h3>
            <form id="form" method="POST" action="{% url 'status:add_status' %}">
                {% csrf_token %} {{status_form}}
                <input id="submit" type="submit" class="btn btn-default pull-right" value="Post">
            </form>
        </div>
    </div>
</section>

<section id="all-status">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% if status %}{% for data in status %} {% static "" as baseStaticUrl %}
            <div class="col-md-2 col-md-offset-1"><img src="{{ baseStaticUrl }}{{ profile.avatar }}"
                                                       class="img-responsive img-circle center-block" width="50px">
            </div>
            <div class="col-md-8">
                <a id="name" href="{% url 'profile:index' %}">{{profile.name}}</a>
                <p id="timedate">{{data.status_date|date:"l, j F Y, H:i"}}</p>
                <p id="status">{{data.status}}</p>
                <hr>
            </div>
            <br> {% endfor %} {% endif %}
        </div>
    </div>
</section>

{% endblock %}