{% extends "tugas_1/layout/base.html" %} {% block content %}

<section name="form">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Add Friend</h1>
            <form id="form" method="POST" action="{% url 'friends:add_friend_post' %}">
                {% csrf_token %} {{ add_friend_form }}
                <br>
                <button type="submit" class="btn btn-default">Add Friend</button>
            </form>
        </div>
    </div>
</section>

<section name="list-friend">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>List Friend</h1>
            <table class="table">
                <tbody>
                {% for i in friends %}
                <tr>
                    <td> {{i.name}}</td>
                    <td> {{i.url}}</td>
                    <td> Added {{i.date}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}