<nav class="nav navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div id="navbrand" class="navbar-header">
            <a class="navbar-brand" href="{% url 'status:index' %}">Ling-in</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'status:index' %}">Status</a></li>
                <li><a href="{% url 'profile:index' %}">Profile</a></li>
                <li><a href="{% url 'friends:index' %}">Friends</a></li>
                <li><a href="{% url 'dashboard:index' %}">Stats</a></li>
            </ul>
        </div>
    </div>
</nav>