body {
    padding-top: 100px;
    background: #f8f5f2;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 100px;
}

.navbar-fixed-top {
    background-color: #000b29;
}

.navbar-fixed-top {
    color: white;
}

#navbar>ul>li>a {
    color: #edb83d;
}

#navbar>ul>li>a:hover {
    color: #000b29;
    background-color: #d70026;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#navbrand>a {
    color: #edb83d;
}

#all-status {
    margin-top: 50px;
}

#name,
#name:visited {
    font-size: 17px;
    color: black;
}

#name:hover {
    font-size: 17px;
    color: #d70026;
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#timedate {
    font-size: 10px;
}

hr {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.btn-default {
    color: #edb83d;
    background-color: #000b29;
}

.btn-default:hover {
    color: #000b29;
    background-color: #d70026;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000b29;
    color: #edb83d;
    padding-top: 10px;
    padding-bottom: 10px;
}