{% extends "tugas_1/layout/base.html" %} {% load staticfiles %} {% load static %} {% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="center-block">
                {% static "" as baseStaticUrl %}
                <img src="{{ baseStaticUrl }}{{ profile.avatar }}" class="img-responsive img-circle center-block"
                     width="200px">
                <h1 class="text-center"> {{ profile.name }} </h1>
            </div>
            <div class="col-md-2 col-md-offset-4">
                Birthday <br> Gender <br> Expertise <br> Description <br> Email <br>
            </div>
            <div class="col-md-4">
                {{ profile.birthday|date:"M d, Y" }}
                <br> {{ profile.gender }}
                <br> {% for expertise in profile.expertises %}
                <span class="badge badge-pill"> {{ expertise }} </span> {% endfor %}
                <br> {{ profile.description }}
                <br> {{ profile.email }}
            </div>
        </div>
    </div>
</section>

{% endblock %}